In [1]:
t = True
type(t)

bool

                                                                                type conversion

In [6]:
age =25
height =float(age)

print(age)
print(height)

25
25.0

In [7]:
height = 5.6
age = int(height)

print(height)
print(age)

5.6
5

In [8]:
num_str ="123"
num = int(num_str)

print(num_str)
print(num)

123
123

                                                                            ARITHMETIC OPERATORS

In [10]:
x = 15
y = 4
print('x + y = ',x+y)
print('x - y = ',x-y)
print('x * y = ',x*y)
print('x / y = ',x/y)
print('x % y = ',x%y)
print('x // y = ',x//y)
print('x ** y = ',x**y)

x + y =  19
x - y =  11
x * y =  60
x / y =  3.75
x % y =  3
x // y =  3
x ** y =  50625

                                                                                            INPUT

In [4]:
first_name = input('Enter your first name: ')
last_name = input('Enter your last name: ')
print('Hello',first_name, last_name)

Hello Tanakorn Pichai

In [10]:
name = input('What is your name? ')
age = int(input('What is your age? '))
income = float(input('What is your income? '))

print('Here is the data you entered')
print('Name:',name)
print('Age:',age)
print('Income:', format(income, '23,.2f'))

Here is the data you entered
Name: efsefse
Age: 21
Income:              150,000.00