CREATING SET

In [12]:
fruits = {"apple","banana", "cherry" , "apple" }
print(fruits)

numbers = set([1,2,3,1,2,4])
print(numbers)

{'banana', 'apple', 'cherry'}
{1, 2, 3, 4}

SET MEMBER MANAGEMENT

In [18]:
fruits = {"apple","banana", "cherry" }

fruits.add("orange")
print(fruits)

fruits.remove("banana")
print(fruits)

fruits.discard("grape")
print(fruits)

remove_item = fruits.pop()
print(remove_item)
print(fruits)

fruits.clear()
print(fruits)

{'banana', 'apple', 'orange', 'cherry'}

KeyError: 'grape'

SET OPERATIONS

In [8]:
set1 = {1,2,3}
set2 = {3,4,5}

print(set1.union(set2))

print(set1.intersection(set2))

print(set1.difference(set2))

print(set1.symmetric_difference(set2))

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

In [14]:
set1 = {1,2,3}
set2 = {3,4,5}

union_set = set1 | set2
print ("Union:",union_set)

intersection_set = set1 & set2
print ("intersection:",intersection_set)

difference_set = set1 - set2
print ("difference:",difference_set)

symmetric_difference_set = set1 ^ set2
print ("symmetric_difference:",symmetric_difference_set)

Union: {1, 2, 3, 4, 5}
intersection: {3}
difference: {1, 2}
symmetric_difference: {1, 2, 4, 5}

In [20]:
setA = {1, 2, 3, 4}
setB = set([8, 9, 10])

setA.add(5)
setB.update([6, 7])
Uset = setA | setB
print(Uset)
print(len(Uset))

setB.update('ABCD')
setA.update([6, 7, 8])
print(setA)

print(setA.intersection(setB))
print(setA ^ setB)

setB.remove('B')
setB.discard(10)
print(setB)
print(setA.clear())
for val in Uset:
    print(val)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
10
{1, 2, 3, 4, 5, 6, 7, 8}
{8, 6, 7}
{1, 2, 3, 4, 5, 9, 10, 'C', 'B', 'D', 'A'}
{6, 7, 8, 9, 'C', 'D', 'A'}
None
1
2
3
4
5
6
7
8
9
10

THE POWER OF USING SETS WITH LISTS

In [26]:
def remove_duplicates (lst): 
    return list (set(lst)) 
numbers=[1, 2, 3, 1, 2, 4, 5, 6, 5, 4, 3] 
print (remove_duplicates(numbers))

[1, 2, 3, 4, 5, 6]

In [23]:
attendance_week = [
    ["Alice", "Bob", "Charlie", "David"],
    ["Alice", "Charlie", "David"],
    ["Alice", "Bob", "David"],
    ["Alice", "David", "Eve"],
    ["Bob", "Charlie", "David"]
]
attendance_sets = [set(day) for day in attendance_week]
print(attendance_sets)


# 1. Find the set of students who were present every day.
present_every_day = set. intersection (*attendance_sets) 
print("Present every day:", present_every_day)
#Output: 'David'}
# 2. Determine the set of students who were absent at least one day. 
all_students = set.union (*attendance_sets)
absent_at_least_one_day = all_students - present_every_day
print("Absent at least one day: ", absent_at_least_one_day)
# Output: {'Alice', 'Charlie', 'Bob', 'Eve'}

# 3. Create a list of students who were present on the first day but absent on the last day 
first_day_present = attendance_sets [0]
last_day_present = attendance_sets [-1]
first_day_but_not_last = list(first_day_present
-
last_day_present)
print("Present on first day but absent on last day:", first_day_but_not_last)
# Output: ['Alice']
# 4. Calculate the total number of unique students who attended at least one day. 
unique_students_count = len(all_students)
print("Total unique students:", unique_students_count)

[{'Charlie', 'Bob', 'Alice', 'David'}, {'Charlie', 'David', 'Alice'}, {'Bob', 'Alice', 'David'}, {'David', 'Eve', 'Alice'}, {'Charlie', 'Bob', 'David'}]
Present every day: {'David'}
Absent at least one day:  {'Charlie', 'Bob', 'Eve', 'Alice'}
Present on first day but absent on last day: ['Alice']
Total unique students: 5

DICTIONARIES

In [28]:
student = {"name" : "Alice" , "age" : 25, "grade":"A"}
print(student)

{'name': 'Alice', 'age': 25, 'grade': 'A'}

In [27]:
student = dict(name = "Alice" , age =  25, grade="A")
print(student)

student = dict([("name" , "Alice" ), ("age" , 25), ("grade","A")])
print(student)

{'name': 'Alice', 'age': 25, 'grade': 'A'}
{'name': 'Alice', 'age': 25, 'grade': 'A'}

In [29]:
student = {}

student["name"] = "Alice"
student["age"] = 25
student["grade"] = "A"
print(student)

{'name': 'Alice', 'age': 25, 'grade': 'A'}

In [30]:
phonebook = {'Anirach': '777-1111', 'Mickey': '777-2222', 'Donald': '777-3333'}
# display dictionary contents
print(phonebook)
# retive specic key value
print (phonebook ['Mickey'])
print(phonebook.get('Donald'))
key = 'Pluto'
if key in phonebook:
    print (phonebook ['Pluto'])
else:
    print(key + 'not in phonebook')
phonebook ['Simpson'] = '777-4567' 
phonebook ['Pluto'] = '777-4444' 
phonebook [ 'Mickey'] = '777-2122'
print(phonebook)
del phonebook['Simpson']
print(phonebook)

{'Anirach': '777-1111', 'Mickey': '777-2222', 'Donald': '777-3333'}
777-2222
777-3333
Plutonot in phonebook
{'Anirach': '777-1111', 'Mickey': '777-2122', 'Donald': '777-3333', 'Simpson': '777-4567', 'Pluto': '777-4444'}
{'Anirach': '777-1111', 'Mickey': '777-2122', 'Donald': '777-3333', 'Pluto': '777-4444'}

In [34]:
student = {"name" : "Alice" , "age" : 25, "grade":"A","major" : "Computer Science"}
for value in student.values():
    print(value)

name
age
grade
major

In [32]:
student = {"name" : "Alice" , "age" : 25, "grade":"A","major" : "Computer Science"}
for key,value in student.items():
    print(f"{key}: {value}")

name: Alice
age: 25
grade: A
major: Computer Science

In [33]:
student = {"name" : "Alice" , "age" : 25, "grade":"A"}

student["age"] = 26
student["major"] = "Computer Science"
print(student)

del student["grade"]
print(student)

remove_major = student.pop("major")
print(remove_major)
print(student)

{'name': 'Alice', 'age': 26, 'grade': 'A', 'major': 'Computer Science'}
{'name': 'Alice', 'age': 26, 'major': 'Computer Science'}
Computer Science
{'name': 'Alice', 'age': 26}

In [41]:
phonebook  = {'Anirach': '777-1111', 'Mickey': '777-2222', 'Donald': '777-3333'}
phonebook['Bart'] = [1, 3, 5]
elements = len(phonebook)
print('There are ',elements,'names in phonebook')
for key in phonebook:
    print(key, 'phone number is: ', phonebook [key])
phonebook['Bart'][1] = 9
print(phonebook)

There are  4 names in phonebook
Anirach phone number is:  777-1111
Mickey phone number is:  777-2222
Donald phone number is:  777-3333
Bart phone number is:  [1, 3, 5]
{'Anirach': '777-1111', 'Mickey': '777-2222', 'Donald': '777-3333', 'Bart': [1, 9, 5]}

In [42]:
# Creating a dictionary
student={'name': 'Alice', 'age': 26, 'major': 'Computer Science'}
print (student.keys())


print (student.values ()) # Output: dict_values(['Alice', 26, ' Computer Science'])
print (student.items()) # Output: dict_items ([('name', 'Alice'), ('age', 26), ('major', 'Computer Science')])

print (student.get("name"))
print (student.get("grade", "Not Found")) # Output: Not Found

major = student.pop("major")
print (major)
print (student) # Output: {'name': 'Alice', 'age': 26}

last_item = student.popitem()
print (last_item) # Output: ('age', 26)
print (student)
# Output: {'name': 'Alice'}

student.clear()
print (student) # Output: {}

dict_keys(['name', 'age', 'major'])
dict_values(['Alice', 26, 'Computer Science'])
dict_items([('name', 'Alice'), ('age', 26), ('major', 'Computer Science')])
Alice
Not Found
Computer Science
{'name': 'Alice', 'age': 26}
('age', 26)
{'name': 'Alice'}
{}