CREATING AN ACCESSING LISTS

In [2]:
prime_number = [2,3,5,7, 11, 13, 17, 19, 23, 29]
print(f"Prime number:{prime_number}")
fifth_prime = prime_number[4]
print(f"Fifth number:{fifth_prime}")
fifth_NN = prime_number[5]
print(f"Fifth number:{fifth_NN}")

Prime number:[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
Fifth number:11
Fifth number:13

LIST METHODS

In [3]:
fruits =  ["apple","banana", "cherry"]
more_fruits = ["mango","pineapple"]
for fruit in more_fruits:
    fruits.append(fruit)
print(f"Fruits after append: {fruits}")

Fruits after append: ['apple', 'banana', 'cherry', 'mango', 'pineapple']

In [12]:
fruits =  ["apple","banana", "cherry"]
fruits.insert(1, "strawberry")
fruits.insert(6, "blueberry")
print(f"Fruits after inser:{fruits} ")

Fruits after inser:['apple', 'strawberry', 'banana', 'cherry', 'blueberry']

In [49]:
fruits =  ["apple","banana","apple", "cherry","apple"]
apple = []
fruits_index = 0
for fruit in fruits:
    if fruit == 'apple':
        apple.append(fruits_index)
    fruits_index = fruits_index + 1
# fruits.remove("apple")
fruits.pop(apple[0])
fruits.pop(apple[-1]-1)
print(f"Fruits after remove:{fruits} ")

Fruits after remove:['banana', 'apple', 'cherry']

In [13]:
fruits =  ["apple","banana", "cherry"]
fruits.pop(1)
fruits.append("banana")
print(f"Fruits after inser:{fruits} ")

Fruits after inser:['apple', 'cherry', 'banana']

In [48]:
fruits =  ["apple","banana", "cherry","apple"]
apple1 = fruits.index("apple")
print(f"'apple' is at index:{apple1}")

apple2 = fruits.index("apple",apple1+1)
print(f"'apple' is at index:{apple2}")

apple3 = fruits.index("apple",apple2+1)
print(f"'apple' is at index:{apple3}")

'apple' is at index:0
'apple' is at index:3

ValueError: 'apple' is not in list

In [ ]:
nested_list =  [[1,2,3],[4,5,6],[7,8,9]]
for sublist in nested_list:
    sublist.clear()
print(f"nested list after clear:{nested_list} ")

In [51]:
nested_list =  [[1,2,3],[4,5,6],[7,8,9]]
remove_index = 0
for sublist in nested_list:
    sublist.pop(remove_index)
    remove_index = remove_index+1
print(f"nested list after clear:{nested_list} ")

nested list after clear:[[2, 3], [4, 6], [7, 8]]

In [75]:
nested_list =  [[1,2,3],[4,10,6],[7,8,9],[11,12]]
nested_list.reverse()
for sublist in nested_list:
    sublist.sort()
    sublist.reverse()

print(f"nested list after clear:{nested_list} ")

nested list after clear:[[12, 11], [9, 8, 7], [10, 6, 4], [3, 2, 1]]

In [61]:
heroes = ['Ironman', 'Thor', 'Hulk', 'Superman', 'Spiderman']
h2 = ['Dr. Strange', 'Cpt. America', 'Black Panther', 'Ant Man']

heroes.insert(0, h2[0])
print(heroes)

heroes.insert(heroes.index('Thor') + 1, h2[1])
print(heroes)

heroes.remove('Superman')
print(heroes)

heroes.append(h2[3])
print(heroes)

heroes.sort()
print(heroes)

heroes.reverse()
print(heroes)

newheroes = heroes
newheroes[0] = 'Wonder Women'
print(heroes)

copyheroes = [] + heroes
print(copyheroes)

copyheroes[0] = 'Hanuman'
print(heroes)
print(copyheroes)

['Dr. Strange', 'Ironman', 'Thor', 'Hulk', 'Superman', 'Spiderman']
['Dr. Strange', 'Ironman', 'Thor', 'Cpt. America', 'Hulk', 'Superman', 'Spiderman']
['Dr. Strange', 'Ironman', 'Thor', 'Cpt. America', 'Hulk', 'Spiderman']
['Dr. Strange', 'Ironman', 'Thor', 'Cpt. America', 'Hulk', 'Spiderman', 'Ant Man']
['Ant Man', 'Cpt. America', 'Dr. Strange', 'Hulk', 'Ironman', 'Spiderman', 'Thor']
['Thor', 'Spiderman', 'Ironman', 'Hulk', 'Dr. Strange', 'Cpt. America', 'Ant Man']
['Wonder Women', 'Spiderman', 'Ironman', 'Hulk', 'Dr. Strange', 'Cpt. America', 'Ant Man']
['Wonder Women', 'Spiderman', 'Ironman', 'Hulk', 'Dr. Strange', 'Cpt. America', 'Ant Man']
['Wonder Women', 'Spiderman', 'Ironman', 'Hulk', 'Dr. Strange', 'Cpt. America', 'Ant Man']
['Hanuman', 'Spiderman', 'Ironman', 'Hulk', 'Dr. Strange', 'Cpt. America', 'Ant Man']

SLICING LIST

In [63]:
data = list(range(100))
slice_data = data[10:51:5]
print(f"Slicd data: {slice_data}")

Slicd data: [10, 15, 20, 25, 30, 35, 40, 45, 50]

In [65]:
ss = "Sammy Shark!"
print(ss[4])
print(ss[6:11])
print(ss[:5])
print(ss[7:])
print(ss[-4:-1])
print(ss[6:11])
print(ss[6:11:1])
print(ss[0:12:2])
print(ss[0:12:4])
print(ss[::4])
print(ss[::-1])
print(ss[::-2])

y
Shark
Sammy
hark!
ark
Shark
Shark
SmySak
Sya
Sya
!krahS ymmaS
!rh ma

In [66]:
# Example list
numbers = [4, 2, 9, 1, 5, 6]

length = len(numbers)
print(f"Length of the list: {length}")

total_sum = sum(numbers)
print(f"Sum of all elements: {total_sum}")

max_value = max(numbers)
print(f"Maximum value: {max_value}")

min_value = min(numbers)
print(f"Minimum value: {min_value}")

sorted_numbers = sorted(numbers)
print(f"Sorted list: {sorted_numbers}")

bool_list = [False, True, False]
any_true = any(bool_list)
print(f"Is any element True? {any_true}")

all_true = all(bool_list)
print(f"Are all elements True? {all_true}")

string = "hello"
char_list = list(string)
print(f"List of characters: {char_list}")

reversed_numbers = list(reversed(numbers))
print(f"Reversed list: {reversed_numbers}")

enumerated_numbers = list(enumerate(numbers))
print(f"Enumerated list: {enumerated_numbers}")

Length of the list: 6
Sum of all elements: 27
Maximum value: 9
Minimum value: 1
Sorted list: [1, 2, 4, 5, 6, 9]
Is any element True? True
Are all elements True? False
List of characters: ['h', 'e', 'l', 'l', 'o']
Reversed list: [6, 5, 1, 9, 2, 4]
Enumerated list: [(0, 4), (1, 2), (2, 9), (3, 1), (4, 5), (5, 6)]

In [67]:
num_employees=6
def main():
    hours = [0] * num_employees

    for index in range(num_employees):
        print('Enter the hour worked by emplopyee', \
              index+1, ':',sep='',end='')
        hours[index]= float(input())
    pay_rate = float(input('Enter the hourly pay rate: '))

    for index in range(num_employees):
        gross_pay = hours[index] * pay_rate
        print('Gross pay for employee', index + 1, ': $', \
            format(gross_pay, ',.2f'), sep='')
        
main()

Enter the hour worked by emplopyee1:Enter the hour worked by emplopyee2:Enter the hour worked by emplopyee3:Enter the hour worked by emplopyee4:Enter the hour worked by emplopyee5:Enter the hour worked by emplopyee6:Gross pay for employee1: $13,125.00
Gross pay for employee2: $34,125.00
Gross pay for employee3: $34,125.00
Gross pay for employee4: $44,625.00
Gross pay for employee5: $466,200.00
Gross pay for employee6: $13,125.00

TWO-DIMENSIONAL LISTS

In [80]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
matrix[0][1] = 10
for row in matrix:
    for element in row:
        print(element, end="")
    print()

1103
456
789

In [82]:
import random

rows = 3
cols = 4

def main():
    values = [[0,0,0,0],[0,0,0,0],[0,0,0,0]]

    for r in range(rows):
        for c in range(cols):
            values[r][c] = random.randint(1,100)
    print(values)

main()

[[85, 79, 49, 39], [96, 4, 23, 92], [38, 66, 52, 79]]

TUPLES

SINGLE ELEMENT TUPLES

In [88]:
singe_element_tuple = (5,)
print(type(singe_element_tuple))

<class 'tuple'>

In [87]:
my_tuple = 1,2,3,4
print(my_tuple)

a,b,c = my_tuple
print(a)
print(b)
print(c)

(1, 2, 3, 4)

ValueError: too many values to unpack (expected 3)